<p>
  <b>Avatar:</b>
  <p><%= image_tag @profile.avatar_url.to_s %></p>
  <p><%= image_tag @profile.avatar_url(:thumb).to_s %></p>
  <p><%= image_tag @profile.avatar_url(:tiny).to_s %></p>
</p>

<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>

<p>
  <b>Website url:</b>
  <%= @profile.website_url %>
</p>

<p>
  <b>Location:</b>
  <%= @profile.location %>
</p>


<!-- <%= link_to 'Back', profile_path %> -->
