<h1>Listing videos</h1>

<table>
  <tr>
	<th>ID</th>
	<th>thumbnail</th>	
    <th>Title</th>
	<th>User</th>
    <th>Description</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.id %></td>
	<td><%= image_tag video.thumbnail,  :size => "50x50" %></td>
    <td><%= video.title %></td>
	<td><%= video.user.username %>
    <td><%= video.description %></td>
    <td><%= video.published? %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
